<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li>
            <a href="/">Home </a>
          </li>
          <li>
            <a href="/login">Login </a>
          </li>
          <li>
            <a href="/register">Register </a>
          </li>
        </ul>
      </nav>
      <form action="">
        <div>
          <label for="">Email</label>
          <input type="email" placeholder="Email" />
        </div>
        <div>
          <label for="">Password</label>
          <input type="password" placeholder="Password" />
        </div>
        <button>Login</button>
      </form>
    </main>
  </body>
</html>
